<% if @articles[:tabory_panel].any? %>
    <div class="row">
      <div class="column">
        <div class="ui <%= number_as_word(@articles[:tabory_panel].count) %> special doubling green cards">
          <% @articles[:tabory_panel].each do |tabor| %>
              <div class="ui lightgrey-background link card" style="min-height: 200px;">
                <div class="ui lightgrey-background inverted dimmer">
                  <div class="content">
                    <div class="center">
                      <h2 class="ui black header"><%= t :im_interested %></h2>
                      <%= link_to t(:see_more), tabor.url, class: 'ui green inverted button' %>
                    </div>
                  </div>
                </div>
                <% unless tabor.selected_image.blank? %>
                    <div class="center aligned">
                      <%= image_tag tabor.selected_image.url, class: 'ui centered image' %>
                    </div>
                <% end %>
                <div class="content">
                  <h3><%= tabor.title %></h3>
                </div>
              </div>
          <% end %>
        </div>
        <% if current_user.try(:is_employee?) %>
            <%= link_to edit_cards_homepage_index_path, class: 'ui yellow right floated button' do %>
                <i class="edit icon"></i> <%= t :edit_cards %>
            <% end %>
        <% end %>
      </div>
    </div>
<% else %>
    <% if current_user.try(:is_employee?) %>
        <%= link_to edit_cards_homepage_index_path, class: 'ui yellow right floated button' do %>
            <i class="edit icon"></i>
            <%= t :edit_cards %>
        <% end %>
    <% end %>
<% end %>

<div style='min-height: 10px;'></div>
<div class="ui two column stackable row grid" id="mapa" style="border-radius: 25px; margin-top: 10px; ">
  <div class="column" style="">
    <h3 class="ui header">
      <%= image_tag "inexak_s_mapou.png", class: 'ui circular mini image' %>
      <div class="content">
        <%= t :actual_events %>
        <div class="sub header">Pozri si eventy na mape</div>
      </div>
    </h3>
    <div id="map" style='min-height: 400px; height: 85%; text-align: center; padding: 150px 0; '>
      <h3><i class="large spinner loading icon"></i><br>Loading Map</h3>
    </div>
  </div>
  <div class="column">
    <div class="ui grid" style="padding-top: 15px;">
      <div class="nine wide column">
        <h3><i class="ui search icon"></i><%= t :search_and_filtering %></h3>
      </div>
      <div class="seven wide right aligned column">
        <%= link_to search_homepage_index_path, class: 'ui mini grey icon button' do %>
            <i class="external icon"></i> <%= t :page_with_event_list %>
        <% end %>
      </div>
    </div>
    <%= render 'map_search' %>
  </div>
</div>
<div style='min-height: 50px;'></div>
<div class="ui three column stackable row grid lightgrey-background" style="border-radius: 25px; margin-top: 20px;">
  <div class="column">
    <h3><i class="ui newspaper icon"></i><%= t :ten_upcoming_events %></h3>
    <% if @upcoming_events.any? %>
        <ul id="newsTicker2" class="ui link selection list newsTicker">
          <% @upcoming_events.each do |event| %>
              <%= render 'event_in_newsticker', event: event %>
          <% end %>
        </ul>
    <% else %>
        <div class="ui list">
          <%= t :ten_upcoming_events_nothing %>
        </div>
    <% end %>
  </div>
  <div class="column">
    <h3><i class="ui add to calendar icon"></i><%= t :last_20_added %></h3>
    <ul id="newsTicker" class="ui link selection list newsTicker">
      <% @last_added_events.each do |event| %>
          <%= render 'event_in_newsticker', event: event %>
      <% end %>
    </ul>
  </div>
  <div class="column">
    <div id="events_calendar">
      <%= render 'calendar' %>
    </div>
    <span class="computer large monitor only">
      <%= image_tag "rodina.png", class: 'ui small image', style: 'padding: 20px; margin: 0 auto;' %>
    </span>
  </div>
</div>
<div style='min-height: 40px;'></div>
<div class="ui center aligned container centered padded grid" id="countup" counted="false">
  <div class="ui statistics" id="scroll-listener" style="display: block; margin: auto; ">
    <div class="statistic circle-text green-circle">
      <div id="cntup1" class="value" end-val="<%= DateTime.now.year - 1993 %>"></div>
      <div class="label"><%= t :bubble_years_of %>
        <br><%= t :bubble_experience %></div>
    </div>
    <div class="statistic circle-text yellow-circle">
      <div id="cntup2" class="value" end-val="<%= Event.select(:country).map(&:country).uniq.count %>"></div>
      <div class="label"><%= t :bubble_countries_in_the %>
        <br><%= t :bubble_world %></div>
    </div>
    <div class="statistic circle-text orange-circle">
      <div id="cntup3" class="value" end-val="<%= Volunteer.count %>"></div>
      <div class="label"><%= t :bubble_sent %><br><%= t :bubble_volunteers %>
      </div>
    </div>
    <div class="statistic circle-text red-circle">
      <div id="cntup4" class="value" end-val="<%= Event.count %>"></div>
      <div class="label"><%= t :bubble_organized %><br><%= t :bubble_events %>
      </div>
    </div>
  </div>
</div>
