<div class="row">
  <div class="column">
    <div class="ui <%= number_as_word(@articles[:tabory_panel].count) %> special doubling orange cards">
      <% @articles[:tabory_panel].each do |tabor| %>
          <div class="ui link card">
            <div class="content">
              <div class="center">
                <div data-mercury="full" id="tabor_url_<%= tabor.id %>">
                  <%= tabor.url %>
                </div>
               </div>
            </div>
            <div class="ui fluid image">
              <div data-mercury="image" id="tabor_image_<%= tabor.id %>">
                <%= image_tag "no-image-box.png" %>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <div data-mercury="full" id="tabor_title_<%= tabor.id %>">
                  <%= tabor.title %>
                </div>
              </div>
              <div class="description">
                <div data-mercury="full" id="tabor_content_<%= tabor.id %>">
                  <%= tabor.content %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>