<p id="notice"><%= notice %></p>

<h1>Listing Html Articles</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @html_articles.each do |html_article| %>
      <tr>
        <td><%= html_article.category %></td>
        <td><%= html_article.content %></td>
        <td><%= link_to 'Show', html_article %></td>
        <td><%= link_to 'Edit', edit_html_article_path(html_article) %></td>
        <td><%= link_to 'Destroy', html_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Html article', new_html_article_path %>
