<div class="ui segment container" style="border: 0px; box-shadow: none;">
  <div class="ui two column middle aligned very relaxed stackable grid container" style="position: relative">
    <div class="ui column">
      <h1>Zabudol som heslo</h1>
      <div class="ui form">
        <%= form_tag forgotten_password_sessions_path do %>
            <div class="field">
              <%= label_tag :login_mail %>
              <div class="ui left icon input">
                <%= email_field_tag :login_mail, params[:login_email], placeholder: "your@mail.sk" %>
                <i class="user icon"></i>
              </div>
            </div>
            <%= submit_tag "Reset hesla", class: 'ui grey button' %>
        <% end %>
      </div>
    </div>
    <div class="ui center aligned column">
      <%= link_to colored_labeled_icon_button({ size: 'big', color: 'green',
                                                icon: 'signup', text: 'Registrácia'
                                              }).html_safe, new_user_path %>
    </div>
  </div>
</div>