<% if @tasks.any? %>
    <div class="ui relaxed divided list">
      <% @tasks.each do |task| %>
          <div class="item">
            <% if task.is_done? %>
                <i class="large green check circle icon" style="padding-top: 5px;"></i>
            <% else %>
                <i class="large red warning circle icon" style="padding-top: 5px;"></i>
            <% end %>
            <div class="content">
              <div class="ui horizontal list">
                <div class="item">
                  <div class="content">
                    <div class="header"><%= task.title %></div>
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <div class="header">
                      <% if task.employee != current_user.try(:employee) %>
                          <div class="ui small label">
                            <i class="user icon"></i>
                            <%= task.employee.try(:user).try(:nickname_or_name) %>
                          </div>
                      <% end %>
                      <% if task.deadline %>
                          <div class="ui small <%= color_by_deadline(task.deadline) %> label">
                            <i class="hourglass start icon"></i>
                            <%= date_format(task.deadline) %>
                          </div>
                      <% end %>
                      <% if task.is_highlighted %>
                          <div class="ui small blue label">
                            <i class="warning icon"></i>
                            <%= t :highlighted %>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="content">
                    <div class="header">
                      <%= link_to edit_task_path(task), class: 'ui yellow label' do %>
                          <i class="edit link icon"></i> Upraviť
                      <% end %>
                      <%= link_to task, method: :delete, data: { confirm: t(:are_you_sure_task) }, class: 'ui red label' do %>
                          <i class="remove link icon"></i> Vymazať
                      <% end %>
                      <% unless task.deadline.blank? %>
                          <div class="ui right dropdown item green label">
                            <i class="ui calendar icon"></i>
                            Pridať do kalendára
                            <i class="dropdown icon"></i>
                            <div class="menu">
                              <%= link_to add_event_to_google_calendar(task), class: "item", target: "_blank" do %>
                                  <i class="google icon"></i>
                                  Google calendar
                              <% end %>
                              <%= link_to generate_ical_task_path(task), class: "item", target: "_blank" do %>
                                  <i class="apple icon"></i>
                                  Apple calendar
                              <% end %>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="description"> <%= task.description %></div>
              <div class="list">
                <% task.task_lists.each do |tl| %>
                    <a class="item task-list-updater" href="#" state="<%= tl.state %>" tasklistId="<%= tl.id %>">
                      <% if tl.state == 'dokončená' %>
                          <i class="green checkmark icon icon-updater"></i>
                      <% else %>
                          <i class="red warning sign icon icon-updater"></i>
                      <% end %>
                      <div class="content">
                        <%= tl.title %>
                      </div>
                    </a>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% else %>
    <div class="ui icon message">
      <i class="remove icon"></i>
      <div class="content">
        <div class="header">
          <%= t :no_task_header %>
        </div>
        <p><%= t :no_task_description %></p>
      </div>
    </div>
<% end %>