<table class="ui compact green selectable celled striped table datatable-server" data-entity="organizations" data-eid="<%= @partner_network.try(:id) %>">
  <thead>
  <tr>
    <th class="three wide"><%= t :name_task %></th>
    <th class="two wide"><%= t :country %></th>
    <th class="three wide"><%= t :partner_networks %></th>
    <th class="three wide"><%= t :contacts %></th>
    <th class="two wide"><%= t :actions %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <h3><i class="large spinner loading icon"></i> Loading</h3>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
