<h2 class="ui header">
  <i class="edit icon"></i>
  <div class="content">
    <%= t :edit %> <%= t(:partner_network).downcase %>
    <div class="sub header"><%= t :edit_partner_network_header %></div>
  </div>
</h2>

<%= render 'organizations/panel' %>
<%= render 'form' %>