<h2 class="ui header">
  <i class="add circle icon"></i>
  <div class="content">
    <%= t :add %> <%= t(:partner_network).downcase %>
    <div class="sub header"><%= t :add_partner_network_header %></div>
  </div>
</h2>

<%= render 'organizations/panel' %>
<%= render 'form' %>