<h2 class="ui header">
  <i class="sitemap icon"></i>
  <div class="content">
    <%= @partner_network.name %>
    <div class="sub header">Detail.</div>
  </div>
</h2>
<%= render 'organizations/panel' %>
<div class="ui dividing sub header"><%= t :description %></div>
<p><%= @partner_network.description %></p>

<div class="ui dividing sub header"><%= t :organizations_in_partner_network %>
</div>

<%= render 'organizations_list', organizations: @my_organizations %>