<h1 class="ui header">
  <i class="circular book icon"></i>
  <div class="content">
    Know-how
    <div class="sub header">Na týchto stránkach nájdeš návody všetkého druhu.
      Pre prehľadnosť (a vyhľadávanie) sú zaradené do kategórií.
    </div>
  </div>
</h1>

<div class="ui styled fluid accordion">
  <% @knowledge_categories.each do |knowledge_category| %>
      <div class="active title">
        <i class="dropdown icon"></i>
        <%= knowledge_category.category %>
        <span style="float: right">
          <%= link_to 'Upraviť', edit_knowledge_category_path(knowledge_category), class: 'ui yellow label' %>
          <%= link_to 'Vymazať', knowledge_category, method: :delete, data: { confirm: 'Naozaj chceš vymazať túto kategóriu?' }, class: 'ui red label' %>
        </span>
      </div>
      <%= render 'knowledges_links', knowledges: knowledge_category.knowledges_i_can_see(@current_user.employee) %>
  <% end %>
  <div class="active title">
    <i class="dropdown icon"></i>
    Nezaradené
  </div>
  <%= render 'knowledges_links', knowledges: @knowledges_without_category %>
</div>