<div class="ui container">
  <%= header :h1, "world", t(:blog_categories), t(:blog_categories_description) %>

  <%= form_for 'categories', html: { class: 'ui form' } do |f| %>
      <% @categories.each do |category| %>
          <div class="three fields">
            <div class="field">
              <%= text_field_tag "#{category.id}[]", category.name %>
            </div>
            <div class="field">
              <%= select_tag "#{category.id}[]", options_for_select(["Red", "Orange", "Yellow", "Olive", "Green", "Teal", "Blue", "Violet", "Purple", "Pink", "Brown", "Grey", "Black"], category.color ? category.color : "Grey") %>
            </div>
            <div class="ui toggle checkbox field">
              <%= check_box_tag "remove[]", category.id %>
              <%= label_tag t(:remove) %>
            </div>
          </div>
      <% end %>
      <h3><%= t :add_categories %></h3>
      <% (0..5).each do %>
            <div class="field">
              <%= text_field_tag "new[]" %>
            </div>
      <% end %>
      <%= f.submit t(:save), class: 'ui green submit button' %>
  <% end %>
</div>

