<div class="ui container">
  <%= header :h1, "world", "Blog", t(:blog_description) %>
  <div class="ui divider"></div>

  <%= if_is_inex_office render "panel" %>

  <div class="ui sub header"><%= t :categories %>:
    <%= link_to t(:all).downcase, blog_posts_path, class: 'ui grey label' %>
    <% BlogPostCategory.all.each do |category| %>
        <%= link_to category.name, blog_posts_path(category: category.name), class: "ui #{category.color.try(:downcase)} label" %>
    <% end %>
  </div>

  <% if @blog_posts.any? %>
      <div class="ui divided items">
        <% @blog_posts.each do |post| %>
            <div class="item">
              <%= link_to post, class: 'image' do %>
                  <% if !post.image.blank? %>
                      <%= image_tag post.image.url(:medium) %>
                  <% else %>
                      <%= image_tag "noimage.png" %>
                  <% end %>
              <% end %>

              <div class="content">
                <%= link_to post, class: 'header' do %>
                    <%= post.title %>
                    <% if current_user.try(:is_inex_office?) %>
                        <%= link_to edit_blog_post_path(post), class: 'pop_up', title: t(:edit) do %>
                            <i class="ui yellow edit icon"></i>
                        <% end %>
                        <% if !post.is_published %>
                            <%= link_to toggle_is_published_blog_post_path(post), method: :put, class: 'pop_up', title: t(:unpublished_publish), data: { confirm: t(:are_you_sure_publish_article) } do %>
                                <i class="large red hide link icon"></i>
                            <% end %>
                        <% else %>
                            <%= link_to toggle_is_published_blog_post_path(post), method: :put, class: 'pop_up', title: t(:published_unpublish), data: { confirm: t(:are_you_sure_unpublish_article) } do %>
                                <i class="large grey unhide link icon"></i>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>

                <div class="meta">
                  <span class="cinema">
                    <%= datetime_format post.created_at %>
                    <% if post.created_at != post.updated_at %>
                      (<%= t(:updated).downcase %> <%= datetime_format post.updated_at %>
                        )
                    <% end %>
                 </span>
                </div>
                <div class="description"><%= post.perex.try(:html_safe) %></div>
                <div class="extra">
                  <% unless post.blog_post_category.blank? %>
                      <div class="ui right floated sub header">
                        <%= t :category %>:
                        <%= link_to post.blog_post_category.name, blog_posts_path(category: post.blog_post_category.name), class: "ui #{post.blog_post_category.color.try(:downcase)} label" %>
                      </div>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
  <% else %>
      <div class="ui icon message">
        <i class="frown icon"></i>
        <div class="content">
          <div class="header">
            <%= t :there_was_not_found_any_article %>
          </div>
          <p><%= t :try_to_choose_other_category %></p>
        </div>
      </div>
  <% end %>

</div>