<div class="ui attached container">
  <div class="ui items">
    <div class="item">
      <%= link_to @blog_post, class: 'image' do %>
          <% if !@blog_post.image.blank? %>
              <%= image_tag @blog_post.image.url(:medium) %>
          <% else %>
              <%= image_tag "noimage.png" %>
          <% end %>
      <% end %>
      <div class="content">
        <h1><%= @blog_post.title %></h1>
        <div class="meta">
          <%= datetime_format @blog_post.created_at %>
          <% if @blog_post.created_at != @blog_post.updated_at %>
              <%= "(#{t(:updated).downcase} #{datetime_format @blog_post.updated_at})" %>
          <% end %>
          <% unless @blog_post.blog_post_category.blank? %>
              <span class="ui sub header">
                <%= link_to @blog_post.blog_post_category.try(:name), blog_posts_path(category: @blog_post.blog_post_category.try(:name)), class: "ui #{@blog_post.blog_post_category.color.try(:downcase)} label" %>
              </span>
          <% end %>
        </div>
        <div class="description">
          <%= @blog_post.perex.try(:html_safe) %>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <%= if_is_inex_office render "panel" %>

  <div><%= @blog_post.text.html_safe %></div>

  <%= render 'html_articles/show_recommendations' %>
</div>