<table class="ui compact green selectable celled striped table datatable-server" data-entity="contacts" data-eid="<%= @contact_list.try(:id) %>">
  <thead>
  <tr>
    <th class="two wide"><%=  t :name %></th>
    <th class="three wide"><%=  t :surname %></th>
    <th class="two wide"><i class="users icon"></i> <%= t :organization %></th>
    <th class="two wide"><i class="home icon"></i> <%= t :department %></th>
    <th class="three wide"><i class="mail icon"></i> Mail</th>
    <th class="two wide"><i class="phone icon"></i> <%= t :phone %></th>
    <th class="four wide"><%= t :actions %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <h3><i class="large spinner loading icon"></i> Loading</h3>
    </td>
    <td></td><td></td><td></td>
  </tr>
  </tbody>
</table>