<%= header :h2, "book", "Events", t(:contacts_event_header) %>

<%= render 'panel' %>
<%= form_tag('events_second', { class: 'ui form' }) do |f| %>
    <div class="field">
      <%= label_tag t(:contacts_event_choose_years) %>
      <%= select_tag :year, options_for_select(Date.today.year.downto(1993)), multiple: true, include_blank: true, class: 'ui dropdown' %>
    </div>

    <div class="actions">
      <%= submit_tag t(:contacts_event_next_step), class: 'ui green button' %>
    </div>
<% end %>