<%= form_for(@user, html: { class: 'ui form' }) do |f| %>
    <%= write_error(@user) %>

    <div class="sixteen wide field">
      <%= f.label :login_mail do %>
          <%= t :login_mail %>
          <i class="at icon"></i>
          <i class="small red asterisk icon"></i>
      <% end %>
      <%= f.email_field :login_mail %>
    </div>

    <div class="two fields">
      <div class="eight wide field">
        <%= f.label :name do %>
            <%= t :name_contact %>
            <i class="user icon"></i>
            <i class="small red asterisk icon"></i>
        <% end %>
        <%= f.text_field :name %>
      </div>
      <div class="eight wide field">
        <%= f.label :surname do %>
            <%= t :surname %>
            <i class="user icon"></i>
            <i class="small red asterisk icon"></i>
        <% end %>
        <%= f.text_field :surname, class: 'ui left user icon input' do %>
            <i class="user icon"></i>
        <% end %>

      </div>
    </div>
    <div class="fields">
      <div class="eight wide field">
        <%= f.label :password do %>
            <%= t :password %>
            <i class="lock icon"></i>
            <i class="small red asterisk icon"></i>
        <% end %>
        <%= f.password_field :password %>
      </div>
      <div class="eight wide field">
        <%= f.label :password_confirmation do %>
            <%= t :password_confirmation %>
            <i class="lock icon"></i>
            <i class="small red asterisk icon"></i>
        <% end %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="field">
      <%= f.check_box :terms_of_service, class: 'ui checkbox' %>
      <%= link_to t(:i_accept_terms), @terms_and_conditions, target: :blank %>
      <i class="small red asterisk icon"></i>
    </div>
    <br>
    <%= button_tag(class: "ui green labeled icon submit button") do %>
        <%= t :register_me %>
        <i class="signup icon"></i>
    <% end %>
<% end %>