<% if vols.any? %>
    <h3><%= t :role %>: <%= t "#{vols.first.class.name.downcase}s" %></h3>
    <table class="ui green celled table">
      <thead>
      <tr>
        <th class="two wide">Event</th>
        <th class="two wide"><%= t :date %></th>
        <th class="two wide"><%= t :actions %></th>
      </tr>
      </thead>
      <tbody>
      <% vols.each do |vol| %>
          <% if vol.event %>
              <tr>
                <td><%= vol.event.translated_title %></td>
                <td><%= vol.event.try(:from_to) %></td>
                <td>
                  <%= link_to personalized_detail_event_path(vol.event), class: 'pop_up', title: 'Detail' do %>
                      <i class="grey unhide icon"></i> Informácie
                  <% end %>
                </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>