<h1 class="ui header">
  <i class="circular users icon"></i>
  <div class="content">
    <%= t :users %>
    <div class="sub header">
      <%= t :users_header %>
    </div>
  </div>
  <div class="ui three buttons">
    <%= link_to new_user_path, class: 'ui green button' do %>
        <i class="plus icon"></i> <%= t :user_register %>
    <% end %>
    <%= link_to permissions_path, class: 'ui yellow button' do %>
        <i class="protect icon"></i> <%= t :user_permissions %>
    <% end %>
    <%= link_to log_activities_path, class: 'ui button' do %>
        <i class="heartbeat icon"></i> <%= t :user_activity_log %>
    <% end %>
  </div>
</h1>

<div class="ui top attached menu">
  <div class="ui pagination menu" style="border: none;">
    <div class="item">Počet na stránku</div>
    <%= link_to '10', users_path(page: params[:page], per_page: 10, query: params[:query]), class: 'item' %>
    <%= link_to '25', users_path(page: params[:page], per_page: 25, query: params[:query]), class: 'item' %>
    <%= link_to '100', users_path(page: params[:page], per_page: 100, query: params[:query]), class: 'item' %>
  </div>
  <div class="right menu">
    <div class="ui right aligned category users search item" data-page="<%= params[:page] || 1 %>" data-per_page="<%= params[:per_page] || 10 %>">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="<%= t :search_dots %>" id="search-field" page="<%= params[:page] %>">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>
<table class="ui attached compact orange selectable celled striped table">
  <thead>
  <tr>
    <th><%= t :name_contact %></th>
    <th><i class="mail icon"></i> <%= t :mails %></th>
    <th><%= t :states %></th>
    <th><%= t :actions %></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td class="single line">
          <%= user.name %> <%= user.surname %>
          <%= "(#{user.nickname})" unless user.nickname.blank? %>
        </td>
        <td class="ui center aligned">
          <a class="pop_up" href="mailto:<%= user.login_mail %>" title="<%= t :write_email %>"><%= user.login_mail %></a>
          <a class="pop_up" href="mailto:<%= user.personal_mail %>" title="<%= t :write_email %>"><%= user.personal_mail %></a>
        </td>
        <td>
          <% if user.is_active? %>
              <%= link_to deactivate_user_path(user), class: 'ui green label', method: :patch, data: { confirm: t(:are_you_sure_deactivate_user) } do %>
                  <i class="icons pop_up" title="<%= t :deactivate_user %>">
                    <i class="user icon"></i>
                    <i class="black corner checkmark icon"></i>
                  </i>
                  <%= t :active_deactivate %>
              <% end %>
          <% else %>
              <%= link_to deactivate_user_path(user), class: 'ui red label', method: :patch, data: { confirm: t(:are_you_sure_deactivate_user) } do %>
                  <i class="icons pop_up" title="<%= t :deactivate_user %>">
                    <i class="user icon"></i>
                    <i class="black corner ban icon"></i>
                  </i>
                  <%= t :inactive_activate %>
              <% end %>
          <% end %>
          <% if !user.is_inex_member? %>
              <%= link_to new_employee_path(user_id: user), data: { confirm: t(:are_you_sure_add_inex_member) }, class: 'ui grey label' do %>
                  <i class="icons pop_up" title="<%= t :add_inex_member %>">
                    <i class="home icon"></i>
                    <i class="black corner add icon"></i>
                  </i>
                  <%= t :add_to_inex_office %>
              <% end %>
          <% else %>
              <% if !user.role.blank? %>
                  <div class="ui orange label">
                    <i class="icons pop_up">
                      <i class="home icon"></i>
                      <i class="black corner checkmark icon"></i>
                    </i>
                    <%= user.role %>
                  </div>
              <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to user_path(user), class: 'pop_up', title: t(:my_profile) do %>
              <i class="large user icon"></i>
          <% end %>
          <%= link_to show_events_user_path(user), class: 'pop_up', title: t(:my_events) do %>
              <i class="large calendar icon"></i>
          <% end %>
          <%= link_to show_bags_user_path(user), class: 'pop_up', title: t(:my_applications) do %>
              <i class="large checked calendar icon"></i>
          <% end %>
          <%= link_to edit_user_path(user), class: 'pop_up', title: t(:edit) do %>
              <i class="large yellow edit link icon"></i>
          <% end %>
          <%= link_to user, method: :delete, data: { confirm: t(:are_you_sure_remove_user) }, class: 'pop_up', title: t(:remove) do %>
              <i class="large red remove link icon"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="ui compact attached segment" style="padding: 0px;">
  <%= will_paginate(@users, :renderer => 'PaginationHelper::LinkRenderer') %>
</div>

<h1 class="ui header">
  <i class="circular spy icon"></i>
  <div class="content">
    <%= t :inex_office %>
    <div class="sub header">
      <%= t :inex_office_header %>
    </div>
  </div>
</h1>

<table class="ui compact green selectable celled striped table datatable">
  <thead>
  <tr>
    <th><%= t :name_contact %></th>
    <th><%= t :department %></th>
    <th><%= t :work_mail %></th>
    <th><%= t :work_phone %></th>
    <th><%= t :role %></th>
    <th><%= t :actions %></th>
  </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
      <tr>
        <td class="single line">
          <%= employee.user.name %> <%= employee.user.surname %>
          <%= "(#{employee.user.nickname})" unless employee.user.nickname.blank? %>
        </td>
        <td><%= employee.department %></td>
        <td><%= employee.work_mail %></td>
        <td><%= employee.work_phone %></td>
        <td><%= employee.try(:user).try(:role) %></td>
        <td>
          <%= link_to employee.try(:user), class: 'pop_up', title: 'Detail' do %>
              <i class="large grey unhide link icon"></i>
          <% end %>
          <%= link_to edit_employee_path(employee), class: 'pop_up', title: t(:edit_data) do %>
              <i class="large yellow edit link icon"></i>
          <% end %>

          <%= link_to destroy_inex_member_user_path(employee.user), method: :delete, data: { confirm: t(:are_you_sure_remove_inex_member) } do %>
              <i class="large icons pop_up" title="<%= t :remove_inex_member %>">
                <i class="home icon"></i>
                <i class="red corner minus icon"></i>
              </i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>