<h1 class="ui header">
  <i class="circular users icon"></i>
  <div class="content">
    <%= t :users %>
    <div class="sub header">
      <%= t :users_header %>
    </div>
  </div>
  <div class="ui three buttons">
    <%= link_to new_user_path, class: 'ui green button' do %>
        <i class="plus icon"></i> <%= t :user_register %>
    <% end %>
    <%= link_to permissions_path, class: 'ui yellow button' do %>
        <i class="protect icon"></i> <%= t :user_permissions %>
    <% end %>
    <%= link_to log_activities_path, class: 'ui button' do %>
        <i class="heartbeat icon"></i> <%= t :user_activity_log %>
    <% end %>
  </div>
</h1>

<table class="ui attached compact green selectable celled striped table datatable-server" data-entity="users">
  <thead>
  <tr>
    <th><%= t :name_contact %></th>
    <th><i class="mail icon"></i> <%= t :mails %></th>
    <th><%= t :states %></th>
    <th class="four wide"><%= t :actions %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <h3><i class="large spinner loading icon"></i> Loading</h3>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

<h1 class="ui header">
  <i class="circular spy icon"></i>
  <div class="content">
    <%= t :inex_office %>
    <div class="sub header">
      <%= t :inex_office_header %>
    </div>
  </div>
</h1>

<table class="ui compact green selectable celled striped table">
  <thead>
  <tr>
    <th><%= t :name_contact %></th>
    <th><%= t :department %></th>
    <th><%= t :work_mail %></th>
    <th><%= t :work_phone %></th>
    <th><%= t :role %></th>
    <th class="four wide"><%= t :actions %></th>
  </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
      <tr>
        <td class="single line">
          <%= employee.user.name %> <%= employee.user.surname %>
          <%= "(#{employee.user.nickname})" unless employee.user.nickname.blank? %>
        </td>
        <td><%= employee.department %></td>
        <td><%= employee.work_mail %></td>
        <td><%= employee.work_phone %></td>
        <td><%= employee.try(:user).try(:role) %></td>
        <td>
          <div class="ui teal right dropdown item label">
            <i class="setting icon"></i> <%= t :actions %>
            <i class="dropdown icon"></i>
            <div class="menu">
              <%= link_to employee.try(:user), class: 'item', target: "_blank" do %>
                  <i class="unhide link icon"></i> Detail
              <% end %>
              <%= link_to edit_employee_path(employee), class: 'item', target: "_blank" do %>
                  <i class="yellow edit link icon"></i> <%= t(:edit_data) %>
              <% end %>

              <%= link_to destroy_inex_member_user_path(employee.user), method: :delete, data: { confirm: t(:are_you_sure_remove_inex_member) }, class: 'item' do %>
                  <i class="red remove icon"></i> <%= t :remove_inex_member %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>