<%= render 'import_header' %>

<%= render 'import_upper_panel' %>
<div class="ui attached segment">
  <div class="ui yellow icon message">
    <i class="info circle icon"></i>
    <div class="content">
        Identifikácia eventov prebieha spojením kódu, dátumu začiatku a konca.
        Podľa toho, či je táto trojica nová, alebo existuje a či v existujúcich
        eventoch v databáze sú nejaké rozdielne hodnoty, sú eventy rozdelené medzi
        nové, zmenené a bez zmeny.
    </div>
  </div>
  <% unless @errors.blank? %>
      <div class="ui red icon message">
        <i class="remove icon"></i>
        <div class="content">
          <div class="header">
            Nastali nasledujúce chyby:
          </div>
          <% @errors.each do |error| %>
              <p><%= error %></p>
          <% end %>
        </div>
      </div>
  <% else %>
      <% unless @ok_errors.blank? %>
          <div class="ui red icon message">
            <i class="remove icon"></i>
            <div class="content">
              <div class="header">
                Mám pre teba nejaké priateľské upozornenia. Nahrávanie môže pokračovať, ak sa ich rozhodneš ignorovať:
              </div>
              <% @ok_errors.each do |error| %>
                  <p><%= error %></p>
              <% end %>
            </div>
          </div>
      <% end %>
      <%= form_tag({ controller: :events, action: :import_4 }, method: :post, multipart: true, class: 'ui form') do %>
          <%= hidden_field_tag :file, @file %>
          <%= hidden_field_tag :event_column_set_id, @event_column_set.try(:id) %>
          <div class="ui top attached tabular menu">
            <a class="item active" data-tab="first">Nové
              (<%= @new.count %>) </a>
            <a class="item" data-tab="second">Zmenené
              (<%= @changed.count %>) </a>
            <a class="item" data-tab="third">Bez zmeny
              (<%= @unchanged.count %>) </a>
            <a class="item" data-tab="fourth">Ignorované riadky
              (<%= @ignored.count %>) </a>
          </div>
          <div class="ui bottom attached tab segment active" data-tab="first">
            <%= render 'import_3_events', event_ary: @new %>
          </div>
          <div class="ui bottom attached tab segment" data-tab="second">
            <%= render 'import_3_events', event_ary: @changed %>
          </div>
          <div class="ui bottom attached tab segment" data-tab="third">
            <%= render 'import_3_events', event_ary: @unchanged %>
          </div>
          <div class="ui bottom attached tab segment" data-tab="fourth">
            <%= render 'import_3_events', event_ary: @ignored %>
          </div>
          <%= submit_tag "Uložiť", class: 'ui green button' %>
      <% end %>
  <% end %>

</div>