<%= form_for(@homepage_card) do |f| %>
  <% if @homepage_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homepage_card.errors.count, "error") %> prohibited this homepage_card from being saved:</h2>

      <ul>
      <% @homepage_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
