<h1 class="ui header">
  <i class="large icons">
    <i class="suitcase icon"></i>
    <i class="grey corner unhide icon"></i>
  </i>
  <div class="content">
    <%= t :applications_for_type %> <%= @event_type.title %>
    <div class="sub header">
      <%= t(:applications_for_type_header) %>
    </div>
  </div>
</h1>

<div class="ui accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    <%= t :info_for_states %>
  </div>
  <div class="content">
    <%= image_tag "event_list_states.svg", class: 'ui image' %>
  </div>
</div>
<%= render 'panel' %>
<div class="ui top attached menu">
  <div class="ui pagination menu" style="border: none;">
    <div class="item">Počet na stránku</div>
    <%= link_to '10', bags_event_type_path(@event_type, page: params[:page], per_page: 10, query: params[:query]), class: 'item' %>
    <%= link_to '25', bags_event_type_path(@event_type, page: params[:page], per_page: 25, query: params[:query]), class: 'item' %>
    <%= link_to '100', bags_event_type_path(@event_type, page: params[:page], per_page: 100, query: params[:query]), class: 'item' %>
  </div>
  <div class="right menu">
    <div class="ui right aligned category bags search item" data-id="<%= @event_type.id %>" data-page="<%= params[:page] || 1 %>" data-per_page="<%= params[:per_page] || 10 %>">
      <div class="ui transparent icon input">
        <input class="prompt" type="text" placeholder="<%= t :search_dots %>" id="search-field" page="<%= params[:page] %>">
        <i class="search link icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>
<table class="ui attached compact green selectable celled striped table">
  <thead>
  <tr class="center aligned">
    <th class="four wide"><%= t :author %></th>
    <th class="three wide"><%= t :created_at %></th>
    <th class="one wide"><%= t :event_count %></th>
    <th class="three wide"><%= t :state %></th>
    <th class="two wide"><%= t :payments %></th>
    <th class="three wide"><%= t :actions %></th>
  </tr>
  </thead>

  <tbody>
  <% @bags.each do |event_list| %>
      <tr>
        <td>
          <%= event_list.user.name %> <%= event_list.user.surname %>
          <% if event_list.is_child %>
              <i class="big black child icon pop_up" title="<%= t :child %> <%= event_list.name %> <%= event_list.surname %>"></i>
          <% end %>
          <% if event_list.user.je_clen_a_platil? %>
              <%= image_tag "inex_logo.svg", size: '20x20', class: 'pop_up', title: "#{t :inex_member} #{Date.today.year}" %>
          <% end %>
        </td>
        <td><%= datetime_format event_list.updated_at %></td>
        <td><%= event_list.events.count %></td>
        <td>
          <div class="ui orange dropdown item label">
            <%= event_list.state %>
            <i class="dropdown icon"></i>
            <div class="menu">
              <% if event_list.state == "submitted" || event_list.state == "pending" %>
                  <%= link_to set_state_event_list_path(event_list, state: 'reopened'), method: :patch, data: { confirm: "#{t :are_you_sure_change_state} reopened?" }, class: 'item' do %>
                      <i class="green refresh icon"></i> <%= "#{t :set} Reopened" %>
                  <% end %>
              <% end %>
              <% if event_list.state == "submitted" || event_list.state == "closed" || event_list.state == "storno" %>
                  <%= link_to set_state_event_list_path(event_list, state: 'pending'), method: :patch, data: { confirm: "#{t :are_you_sure_change_state} pending?" }, class: 'item' do %>
                      <i class="yellow write icon"></i> <%= "#{t :set} Pending" %>
                  <% end %>
              <% end %>
              <% if event_list.state == "submitted" || event_list.state == "pending" %>
                  <%= link_to set_state_event_list_path(event_list, state: 'closed'), method: :patch, data: { confirm: "#{t :are_you_sure_change_state} closed?" }, class: 'item' do %>
                      <i class="red delete  icon"></i> <%= "#{t :set} Closed" %>
                  <% end %>
              <% end %>
              <% if event_list.state != "storno" %>
                  <%= link_to set_state_event_list_path(event_list, state: 'storno'), method: :patch, data: { confirm: "#{t :are_you_sure_change_state} storno?" }, class: 'item' do %>
                      <i class="red ban icon"></i>  <%= "#{t :set} Storno" %>
                  <% end %>
              <% end %>
            </div>
          </div>
        </td>
        <td>
          <% if event_list.participation_fees.any? %>
              <% event_list.participation_fees.each do |participation_fee| %>
                  <%= link_to participation_fee_path(participation_fee), class: 'pop_up', target: "_blank", title: "#{participation_fee.amount}€ - #{t :click_for_detail}" do %>
                      <i class="large icons">
                        <i class="black money icon"></i>
                        <i class="grey corner unhide icon"></i>
                      </i>
                  <% end %>
              <% end %>
          <% end %>
        </td>
        <td>
          <div class="ui dropdown item label">
            <i class="setting icon"></i> <%= t :actions %>
            <i class="dropdown icon"></i>
            <div class="menu">
              <%= link_to employee_show_event_list_path(event_list), class: 'item', target: "_blank" do %>
                  <i class="grey unhide link icon"></i> Detail
              <% end %>
              <%= link_to employee_edit_event_list_path(event_list), class: 'item', target: "_blank" do %>
                  <i class="yellow corner write icon"></i> <%= t(:edit) %>
              <% end %>
              <%= link_to state_event_list_path(event_list), class: 'item', target: "_blank" do %>
                  <i class="red question mark icon"></i>  <%= t(:results_of_this_application) %>
              <% end %>
              <%= link_to employee_show_event_list_path(event_list) + ".pdf", class: 'item', target: "_blank" do %>
                  <i class="file pdf outline link icon"></i> PDF (zobraziť)
              <% end %>
              <%= link_to employee_show_event_list_path(event_list) + ".pdf", class: 'item', download: "#{event_list.surname.downcase}_#{event_list.name.downcase}_#{event_list.id}" do %>
                  <i class="file pdf outline link icon"></i> PDF (uložiť)
              <% end %>
            </div>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="ui compact attached segment" style="padding: 0px;">
  <%= will_paginate(@bags, :renderer => 'PaginationHelper::LinkRenderer') %>
</div>
