<h1 class="ui header">
  <i class="edit icon"></i>
  <div class="content">
    <%= t :edit %> <%= t(:event_type).downcase %>
    <div class="sub header">
      <%= t :edit_event_type_header %>
    </div>
  </div>
</h1>

<%= render 'panel' %>
<%= render 'form' %>

