<h1 class="ui header">
  <i class="list layout icon"></i>
  <div class="content">
    <%= @event_type.title %>
    <div class="sub header">
      <%= t :event_type_header %>
    </div>
  </div>
</h1>

<%= render 'panel' %>
<table class="ui attached compact green selectable celled striped table datatable-server" data-entity="events">
  <thead>
  <tr>
    <th><%= t :name_task %></th>
    <th><%= t :date %></th>
    <th><%= t :states %></th>
    <th><%= t :actions %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <h3><i class="large spinner loading icon"></i> Loading</h3>
    </td>
    <td></td><td></td><td></td>
  </tr>
  </tbody>
</table>