<div class="ui container">
  <h1 class="ui header">
    <i class="large icons">
      <i class="suitcase icon"></i>
      <i class="red corner heart icon"></i>
    </i>
    <div class="content">
      <%= t :my_bag_header %>
      <div class="sub header">
        <%= t :my_bag_header_description %>
      </div>
    </div>
  </h1>
  <div class="ui divider"></div>
  <% if @event_list.state == 'opened' || @event_list.state == 'reopened' %>
      <div class="ui icon green message">
        <i class="info circle icon"></i>
        <div class="content">
          <div class="header">
            <%= t :now_you_have_to_fill_registration_only_once_for_all_events %>
          </div>
        </div>
      </div>
  <% else %>
      <h3 class="header">
        <%= t :this_bag_was_registered_and_cannot_be_changed %>
      </h3>
      <!-- Application info -->
      <% @event_list.event_types.each do |event_type| %>
          <% if !event_type.application_info_html.blank? %>
              <h3><%= t :information_about_application_for %> <%= event_type.title.try(:downcase) %></h3>
              <%= event_type.application_info_html.html_safe %>
          <% end %>
      <% end %>
  <% end %>
  <% if @events.any? %>
      <%= render 'event_list', events: @events %>
      <% if @event_list.state == 'opened' || @event_list.state == 'reopened' %>
          <%= link_to t(:register_bag), edit_event_list_path(@my_bag), class: 'ui right floated green submit button' %>
      <% end %>
  <% else %>
      <div class="ui icon message">
        <i class="frown icon"></i>
        <div class="content">
          <div class="header">
            <%= t :bag_is_empty %>
          </div>
          <p><%= t :bag_is_empty_description %></p>
        </div>
      </div>
  <% end %>
</div>