<div class="ui container">
  <h1 class="ui header">
    <i class="large icons">
      <i class="suitcase icon"></i>
      <i class="red corner question mark icon"></i>
    </i>
    <div class="content">
      <%= t :state_for_bag %> <%= @event_list.name %>  <%= @event_list.surname %>
      <div class="sub header">
        <%= t :state_for_bag_description %>
      </div>
    </div>
  </h1>
  <%= link_to t(:back), bags_event_type_path(@event_list.event_type), class: 'ui grey button' %>
  <div class="ui divider"></div>

  <% if @events.any? %>
      <table class="ui celled green table">
        <thead>
        <tr class="center aligned">
          <th>Event</th>
          <th><%= t :date %></th>
          <th><%= t :country %></th>
          <th>Stav</th>
          <th class="four wide">Výsledok prihlášky</th>
        </tr>
        </thead>

        <tbody>
        <% @event_list.event_in_lists.each do |eil| %>
            <tr>
              <td>
                <%= link_to eil.event.translated_title, event_type_event_path(eil.event.event_type, eil.event), target: :blank %>
                <% if !eil.event.code.blank? %>
                    (<%= t :code %> <%= eil.event.code %>)
                <% elsif !eil.event.code_alliance.blank? %>
                    (<%= t :code %> <%= eil.event.code_alliance %>)
                <% end %>
              </td>
              <td><%= eil.event.from_to %></td>
              <td>
                <% unless eil.event.country.blank? %>
                    <%= eil.event.country %>
                    <i class="<%= Country.find_by_name(eil.event.country).try(:flag_code) unless eil.event.country.blank? %> flag"></i>
                <% end %>
              </td>
              <td>
                <% vol = eil.event_list.volunteers.where(event: eil.event).take %>
                <% if vol %>
                    <div class="ui green label">
                      <i class="checkmark icon"></i> Pridaný
                    </div>
                <% else %>
                    <div class="ui red label">
                      <i class="remove icon"></i> Nepridaný
                    </div>
                <% end %>
              </td>
              <td>
                <div class="ui dropdown item label">
                  <i class="setting icon"></i> <%= t :actions %>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <% if vol %>
                        <%= link_to remove_participant_from_event_event_lists_path(id: vol.id, classname: vol.class.name), method: :delete, data: { confirm: "#{t :are_you_sure_to_remove_volunteer_from} #{eil.event.translated_title}?" }, class: 'item' do %>
                            <i class="red remove icon"></i> Odobrať dobrovoľníka
                        <% end %>
                    <% else %>
                        <%= link_to add_volunteer_on_event_event_event_list_path(eil.event, @event_list), data: { confirm: "#{t :are_you_sure_to_add_volunteer_on} #{eil.event.translated_title}?" }, class: 'item' do %>
                            <i class="green add icon"></i>  Pridať dobrovoľníka
                        <% end %>
                    <% end %>
                    <%= link_to remove_event_event_event_list_path(eil.event, @event_list), method: :delete,
                                data: { confirm: t(:are_you_sure_remove_from_your_bag) },
                                class: 'item' do %>
                        <i class="red minus icon"></i> Odstráň event
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <div class="ui icon message">
        <i class="frown icon"></i>
        <div class="content">
          <div class="header">
            <%= t :bag_is_empty %>
          </div>
          <p><%= t :bag_is_empty_description %></p>
        </div>
      </div>
  <% end %>
</div>